
.calendar-calendar .week-view #multi-day-container,
.calendar-calendar .week-view #single-day-container,
.calendar-calendar .day-view #multi-day-container,
.calendar-calendar .day-view #single-day-container {
  overflow-y: hidden;
  overflow-x: hidden;
}
 .calendar-calendar .week-view #single-day-container,
 .calendar-calendar .day-view #single-day-container {
  height: auto;
}


.page-calendar-week .week-view, .page-calendar-day .day-view  {
 	box-shadow: 0px 0px 3px 2px #E4E4E4;
 	-webkit-box-shadow: 0px 0px 3px 2px #E4E4E4;
 	-moz-box-shadow: 0px 0px 3px 2px #E4E4E4
}